@import "constants";
//@import "lecture";
//@import "meetupDetails";
@import "meetupList";

form {
  margin: 50px 10px 10px;
  display: flex;
  flex-direction: column;
}

input {
  height: 50px;
  width: 40em;
  border: $colorPrimary 1px solid;
  border-radius: 25px;
  font-family: inherit;
  text-align: center;
  font-size: 14px;

  &:focus {
    outline: none;
    border: $colorAccent 1px solid;
    box-shadow: 0.2px 0.2px 0.2px 0.2px $colorPrimary;
  }
}

button {
  border-radius: 15px;
  border: $colorAccent 1px solid;
  background: transparent;
  padding: 15px;
  overflow: hidden;
  margin: 2px;
  outline: none;
}

.save-btn {
  color: white;
  background: $colorAccent;
  text-align: center;
  margin-top: 10px;

  &:hover {
    color: $colorAccent;
    cursor: pointer;
  }
}

.form-input {
  padding: 5px;
}

.form-input-static {
  display: grid;
  justify-items: center;
}
.agenda-item {
  padding: 5px;
}
